{% ckan_extends %}
{% block scripts %}
  {{ super() }}
  {% resource 'servicehub/css/medium-space-util.css' %}
  {% resource 'servicehub/css/card.css' %}
  {% resource "servicehub/css/sweetalert.css" %}
  {% resource "servicehub/css/bootstrap-tagsinput.css" %}




  {% resource 'servicehub/js/jquery.cookie.js' %}
  {% resource "servicehub/js/sweetalert.js" %}
  {% resource "servicehub/js/jquery.form.js" %}
  {% resource "servicehub/js/bootstrap-tagsinput.js" %}
  {% if c.userobj %}
  {% endif %}
  <script>


  </script>
{% endblock %}
