{% import 'macros/form.html' as form %}
<form id="service-edit" class="dataset-form" method="post" data-module="basic-form" enctype="multipart/form-data">
  {% block error_summary %}
    {{ form.errors(error_summary) }}
  {% endblock %}

  {% block basic_fields %}
    {% set attrs = {'data-module': 'slug-preview-target', 'class': 'form-control'} %}
    {{ form.input('app_name', label=_('Name'), id='field-name', placeholder=_('Service A or Stack A'), classes=['control-full'], attrs=attrs,is_required=True) }}
    {{ form.input('avatar', label='Choose avatar', id='avatar', type='file', classes=['control-full'],is_required=True) }}
    {{ form.markdown('description', label=_('Description'), id='field-description', placeholder=_('A little information about my group...')) }}

  {% endblock %}

  {% block code_fields %}
    {{ form.select('language', label='Choose program language', id='programmingLanguage', options=[{'value':'PYTHON','text':'Python'},{'text':'Java','value':'JAVA'},{'text':'Javascript','value':'Javascript'}], classes=['control-full'],is_required=True) }}
    {{ form.input('codeFile', label='Upload code here', id='codeFile', type='file', classes=['control-full'],is_required=True) }}
  {% endblock %}




  <label class="control-label" for="parameters"><span title="This field is required" class="control-required">*</span>
    Define parameters</label>
  <div class="params">
    <div class="form-row param">
      <div class="col-md-4 md-mb-10 md-mt-10">
        <label class="control-label" for="parameters"><span title="This field is required"
                                                            class="control-required">*</span>
          Label</label>
      </div>
      <div class="col-md-4 md-mb-10 md-mt-10">
        <label class="control-label" for="parameters"><span title="This field is required"
                                                            class="control-required">*</span>
          Variable name</label>
      </div>
      <div class="col-md-3 md-mb-10 md-mt-10">
        <label class="control-label" for="parameters"><span title="This field is required"
                                                            class="control-required">*</span>
          Type</label>
      </div>
      <div class="col-md-1 md-mb-10 md-mt-10">
        <label class="control-label" for="parameters">Delete</label>
      </div>
    </div>
  </div>
  <a class="btn btn-success" onclick="addParam()">Add parameter</a>

  {{ form.required_message() }}
  <div class="form-actions">
    <button class="btn btn-primary" type="submit">
      {% block save_text %}{{ _('Save Service') }}{% endblock %}</button>
  </div>
</form>

<script>
  function addParam() {
    let params_div = $('div.params');
    params_div.append(`
    <div class="form-row param">
      <div class="col-md-4 md-mb-10 md-mt-10">
        <input class="form-control" type="text" name="label">
      </div>
      <div class="col-md-4 md-mb-10 md-mt-10">
        <input class="form-control" type="text" name="var_name">
      </div>
      <div class="col-md-3 md-mb-10 md-mt-10">
        <select name="type" class="form-control">
          <option value="TEXT">Text</option>
          <option value="NUMBER">Number</option>
          <option value="FILE">File</option>
          <option value="TEXT_LST">Text list</option>
          <option value="NUMBER_LST">Number list</option>
          <option value="TRUE_FALSE">Check box</option>
          <option value="CKAN_RESOURCE">Ckan data source</option>
        </select>
      </div>
      <div class="col-md-1 md-mb-10 md-mt-10">
        <a class="btn btn-danger" onclick="return $(this).parents('div.param').remove();"><i class="fa fa-trash"></i></a>
      </div>
    </div>
    `);
  }

  document.addEventListener("DOMContentLoaded", function (event) {
    $("#service-edit").ajaxForm(function (response) {
      console.log(response)
      if (response.hasOwnProperty('error')) {
        swal(response.error);
      } else {
        location.href= `/service/${response.id}`
      }

    });
  });


</script>

