{% extends "page.html" %}
{% import 'macros/form.html' as form %}



{% block breadcrumb_content %}
    <li>{% link_for _('Call'), named_route='call.index' %}</li>
    {% if service_ins!=None %}
        <li>{% link_for _(service_ins.app_name), named_route='service.read',id=service_ins.app_id %}</li>
    {% else %}
        <li>Deleted app</li>
    {% endif %}
    <li class="active">{% link_for ins.call_id, named_route='call.read', id=ins.call_id %}</li>
{% endblock %}


{% block content_action %}{% endblock %}


{% block primary %}
    <div class="col-12">
        <article class="module">
            <div class="module-content">
                <div class=" md-ml-12" style="margin-bottom: 20px;">
                    <div class="request-zone"
                         style="border: 1px solid #ccc!important;border-radius: 16px;padding: 0.01em 15px; margin-left: 150px;margin-right: 150px">
                        <h3>Input</h3>
                        <form id="input-form" class="dataset-form md-mb-15 form-horizontal"
                              data-module="basic-form" novalidate="">
                            {% for input in ins.inputs %}
                                {% snippet "call/snippets/redirect_input.html",field=input,call_id=ins.call_id,type='input' %}
                            {% endfor %}

                        </form>
                    </div>
                </div>
                <div class="md-ml-12" style="margin-bottom: 20px;">
                    <div class="request-zone"
                         style="border: 1px solid #ccc!important;border-radius: 16px;padding: 0.01em 15px; margin-left: 150px;margin-right: 150px">
                        <h3>Output</h3>
                        <form id="input-form" class="dataset-form md-mb-15 form-horizontal"
                              data-module="basic-form" novalidate="">
                            {% if ins.call_status=='SUCCESS' %}
                                {% for output in ins.outputs %}
                                    {% snippet "call/snippets/redirect_input.html",field=output,call_id=ins.call_id ,type='output' %}
                                {% endfor %}
                            {% elif ins.call_status=='FAILED' %}
                                <p>Run failed: something go wrong</p>
                            {% else %}
                                <p>Wait the minutes or check call status</p>
                            {% endif %}
                        </form>
                    </div>
                </div>
                {% if ins.get('logs')!=None %}
                    <div class="md-ml-12">
                        <div class="request-zone"
                             style="border: 1px solid #ccc!important;border-radius: 16px;padding: 0.01em 15px; margin-left: 150px;margin-right: 150px">
                            <h3>Logs</h3>
                            <form id="input-form" class="dataset-form md-mb-15 form-horizontal"
                                  data-module="basic-form" novalidate="">
                                <p readonly>{{ ins.logs }}</p>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>

            <!-- Modal -->
            <div id="myModal" class="modal" role="dialog">
                <div class="modal-dialog" style="width:1250px">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" onclick='return $("#myModal").toggle();'>&times;
                            </button>
                            <h4 class="modal-title">Output view</h4>
                        </div>
                        <div class="modal-body" style="height: 550px;overflow-y: auto;">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" onclick='return $("#myModal").toggle();'>
                                Close
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </article>
    </div>
{% endblock %}



{% block secondary %}{% endblock %}



{% block scripts %}
    {{ super() }}
    <style>
        #loading {
            background-color: white;
            position: fixed;
            display: block;
            top: 0;
            bottom: 0;
            z-index: 1000000;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            text-align: center;
        }

        #loading img {
            margin: auto;
            display: block;
            top: calc(50% - 100px);
            left: calc(50% - 10px);
            position: absolute;
            z-index: 999999;
        }

        label:after {
            content: "";
        }
    </style>
    <script>
        function output_view(call_id, filename) {
            setting = {
                url: `/call/output_read/${call_id}/${filename}`,
                data: {url: `http://localhost:5001/call/${call_id}/output/${filename}`},
                method: 'GET',
                beforeSend: function () {
                    $('#myModal .modal-body').html('<p>Loading</p>');
                    $('#myModal').toggle();
                },
            }
            $.ajax(setting).done((response) => {
                $('#myModal .modal-body').html(response);
            });
        }
    </script>
{% endblock %}
