{% extends "page.html" %}

{% block subtitle %}{{ _('Applications') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Application'), named_route='service.index' %}</li>
{% endblock %}

{% block page_header %}{% endblock %}
{% block page_primary_action %}
  {% if h.check_access('service_create') %}
    {#    {% link_for _('Add Service From Image'), named_route='service.new', class_='btn btn-primary', icon='plus-square' %}#}
    {% link_for _('Submit your data project'), named_route='project.new', class_='btn btn-primary', icon='plus-square' %}

  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  <ul class="media-grid" data-module="media-grid">
    {% for project in projects %}
      {% set instance=project[0] %}
      {% set additions=project[1] %}
      {% set category=additions['category'] %}
      {% set tags=additions['tags'] %}
      <li class="media-item">
        <a href="/project/read/{{ instance.id }}">
          <div class="card">
            <img src="{{ instance.header_image }}" alt="Avatar" style="width:100%">
            <div class="card-block row">
              <div class="col-12 md-ml-5 md-mr-5 md-mb-20">
                <h3><b>Project: {{ instance.project_name }}</b></h3>
                <h5><b>Organization: {{ instance.organization_name }}</b></h5>
                <p>Wrote by: {{ instance.name }} </p>
                <p>Contact: {{ instance.email }} </p>
                {#              <p>Tindangasdasdasd</p>#}

              </div>
            </div>
            <hr style="margin-bottom: 0px;margin-top:0px ">
            <div class="card-block row">
              <div class="col-12 md-ml-5 md-mr-5 md-mb-20">
                <h4><b>Project category: </b></h4>
                {% for tag in category %}
                  <label class="label label-primary">{{ tag.tag_name }}</label>
                {% endfor %}
              </div>
            </div>
            <hr style="margin-bottom: 0px;margin-top:0px ">
            <div class="card-block row">
              <div class="col-12 md-ml-5 md-mr-5 md-mb-20">
                <h4><b>Project Tags: </b></h4>
                {% for tag in tags %}
                  <label class="label label-primary">{{ tag.tag_name }}</label>
                {% endfor %}
              </div>
            </div>
          </div>

        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block secondary_content %}
  {% snippet "service/snippets/helper.html" %}
{% endblock %}


{% block scripts %}
  {{ super() }}
  <style>
    label:after {
      content: "";
    }
  </style>
  <script>

  </script>
{% endblock %}
