<div class="form-group param md-mt-5 md-mb-5">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <label for="{{ field.name }}">{{ field.name }}:</label>
    </div>
    <div class="col-md-8">
        {% if field.type not in ['TEXT', 'LIST', 'BOOLEAN', 'INTEGER', 'DOUBLE','NUMBER'] %}
            <a href="{{ field.value| urlencode  }}">Download file here</a>
            {% if type=='output' %}
                <button type="button" class="btn btn-primary md-ml-10" onclick="output_view('{{ call_id }}','{{ field.name }}')">View
                </button>
            {% endif %}
        {% else %}
            <input class="form-control" readonly name="{{ field.name }}"
                   value="{{ field.value }}">
        {% endif %}
    </div>
</div>
