{% extends "user/read_base.html" %}
{% block primary_content_inner %}
  <ul class="call-list list-unstyled">
    {% for ins in instances %}
      <li class="call-item">
        <div class="call-content">
          <h3 class="call-heading">
            <a href="#">Call Id: {{ins.call_id}}</a>
          </h3>
          {% set result = ins.stdout or "Pending" %}
          <p class="empty">{{result}}</p>
        </div>
        <ul class="dataset-resources list-unstyled">
        </ul>
      </li>
    {% endfor %}

  </ul>
{% endblock %}
{% block scripts %}
  <script>

  </script>
{% endblock %}
