{% if field.type == 'TEXT' %}
  {% set type='text' %}
{% elif field.type == 'FILE' %}
  {% set type='file' %}
{% elif field.type == 'NUMBER' %}
  {% set type='number' %}
{% else %}
  {% set type='checkbox' %}
{% endif %}
<div class="form-group param md-mt-5 md-mb-5">
  <div class="col-md-1"></div>
  <div class="col-md-2">
    <label for="{{ field.name }}">{{ field.label }}:</label>
  </div>
  <div class="col-md-4">
    <input {{ '' if type=='checkbox' else 'class=form-control' }} type="{{ type }}"
                                                                        name="{{ field.name }}">
  </div>
  {% if type=='checkbox' %}
    <input type="hidden" name="check_box_inputs" value="{{ field.name }}">
  {% endif %}
  <div class="col-md-2"></div>
</div>
