<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('What is Application Project?') }}
    </h2>
    <div class="module-content">
      <p>
        {% trans %}
          You can submit Application Project to introduce your data and application project.
          We glad to tell that with your contribution, we can bring a lot of useful applications that use open data to all of us. 
        {% endtrans %}
      </p>
    </div>
  </div>
  