{% extends "page.html" %}
{% import 'macros/form.html' as form %}



{% block breadcrumb_content %}
    <li>{% link_for _('System log Management'), named_route='logadmin.index' %}</li>
    {#  <li class="active">{% link_for ins.app_name, named_route='service.read', id=ins.app_id %}</li>#}
{% endblock %}


{% block content_action %}{% endblock %}


{% block primary %}
    <article class="module">
        <header class="module-content page-header">
            <ul class="nav nav-tabs">
                <li><a href={{ h.url_for('appadmin.index') }}><i class="fa fa-sitemap"></i> App
                    Management</a></li>
                <li ><a href={{ h.url_for('prjadmin.index') }}><i class="fa fa-clock-o"></i> Propject
                    Management</a></li>
                <li class="active"><a href={{ h.url_for('logadmin.index') }}><i class="fa fa-cogs"></i> System log Management</a>
                </li>
                <li><a href={{ h.url_for('sysadmin.index') }}><i class="fa fa-cog"></i> System monitor
                    Management</a></li>
            </ul>
        </header>
        <div class="module-content">

           <iframe src="http://kibana.ckan:5601/app/kibana#/dashboard/ckan-dashboard?embed=true" height="600" width="100%"></iframe>
        </div>
    </article>
{% endblock %}
{% block secondary %}{% endblock %}



{% block scripts %}
    {{ super() }}
    <style>
        label:after {
            content: "";
        }
    </style>

    <script>

        document.addEventListener("DOMContentLoaded", function (event) {
            var oTable = $('#myDataTable').dataTable({
                "ajax": {
                    "url": "/prjadmin/ajax",
                    "type": "GET",
                    "dataSrc": ""
                },
                // "sPaginationType": "full_numbers",
                "aoColumns": [
                    {
                        "sWidth": "15%",
                        "mData": 0
                    }, {
                        "sWidth": "15%",
                        "mData": 1
                    },
                    {
                        "sWidth": "10%",
                        "mData": 2
                    },
                    {
                        "sWidth": "10%",
                        "mData": 3
                    },
                    {
                        "sWidth": "10%",
                        "mData": 4
                    },
                    {
                        "sWidth": "10%",
                        "mData": 5
                    },
                    {
                        "mData": 0,
                        "sWidth": "25%",
                        "bSortable": false,
                        "mRender": function (data, type, full) {
                            return `
          <a class="btn btn-danger btn-sm" href={{ h.url_for('prjadmin.action',action_name='delete') }}?prj_id=${data}>Delete</a>
          <a class="btn btn-danger btn-sm" href={{ h.url_for('prjadmin.action',action_name='reject') }}?prj_id=${data}>Reject</a>
          <a class="btn btn-success btn-sm" href={{ h.url_for('prjadmin.action',action_name='approve') }}?prj_id=${data}>Approve</a>
          <a class="btn btn-info btn-sm" href=/project/read/${data}>Detail</a>
          `;
                        }
                    }]
            });

        });
    </script>
{% endblock %}
