{% extends "page.html" %}

{% block subtitle %}{{ _('Applications') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Application'), named_route='service.index' %}</li>
{% endblock %}

{% block page_header %}{% endblock %}
{% block page_primary_action %}
  {% if h.check_access('service_create') %}
{#    {% link_for _('Add Service From Image'), named_route='service.new', class_='btn btn-primary', icon='plus-square' %}#}
    {% link_for _('Add application'), named_route='service.new', class_='btn btn-primary', icon='plus-square' %}

  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{{ _('Applications') }}</h1>

  {% if len >0 %}
    {% snippet "service/snippets/service_list.html", services=results ,appserver_host=appserver_host%}
  {% endif %}
{% endblock %}

{% block secondary_content %}
  {% snippet "service/snippets/helper.html" %}
{% endblock %}


