{% extends "service/read_base.html" %}
{% import 'macros/form.html' as form %}
{% block primary_content_inner %}

  {% block package_additional_info %}
    {% snippet "service/snippets/additional_info.html", pkg_dict=ins %}
  {% endblock %}


  {% resource 'servicehub/ServiceRequest.js' %}
  <div class="request-zone">
    {% if ins['type']=="Batch" %}
      {% if ins.json_input %}
        <a class="btn btn-success" onclick="addCustomField()"><i class="fa fa-plus-square"></i> Add Custom field
        </a>
      {% endif %}
      <form id="request-form" class="dataset-form" method="post" action="/call/create" data-module="basic-form"
            novalidate="" enctype="multipart/form-data">
        {% if ins.json_input %}
          <div id="custom-zone">
            {{ form.custom(
            names=('custom_key', 'custom_value', 'custom_deleted'),
            id='field-custom',
            label=_('Custom Field'),
            values=(),
            error=error ) }}
          </div>
        {% endif %}
        <input type="hidden" name="app_id" value="{{ ins.app_id }}">
        {% if ins.binary_input %}
          <label for="binary_input">File</label>
          <input type="file" name="binary_input" class="form-control">
        {% endif %}
        <button class="btn btn-primary" type="submit">Send</button>
      </form>
    {% else %}
      <label for="">Site page</label>
      <p>http://localhost:{{ ins.port2port.split(":")[0]}}</p>
    {% endif %}
  </div>
{% endblock %}

{% block secondary_content %}
  {{ super() }}
  <div class="filters">
    <div>
      {% for facet in facet_titles %}
        {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, extras={'id':group_dict.id}) }}
      {% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    function addCustomField() {
      $('#custom-zone').append(`
            {{ form.custom(
              names=('custom_key', 'custom_value', 'custom_deleted'),
              id='field-custom',
              label=_('Custom Field'),
              values=(),
              error=error ) }}
            `);
    }
  </script>
{% endblock %}
